<!--
    Non-editable file of system information I want to keep out of compiled code.
    Similar in style to help.xml and symbols.xml
-->

<SystemConfig>

  <Tree name='sessionGlobal'>
    <Tree name='Global'/>
    <Tree name='Stuff'/>
  </Tree>
  
  <Tree name='sessionAudioTrack'>
    <Tree name='Audio'/>
    <Tree name='Things'/>
  </Tree>
  
  <Tree name='sessionMidiTrack'>
    <Tree name='Midi'/>
    <Tree name='Ephemera'/>
  </Tree>

</SystemConfig>
