<!--
    Random configuration settings that apply to the entire installation
    and exist outside of any one Session.

    This is behaviorally similar to DeviceConfig and devices.xml and could
    consider merging them.  
-->

<SystemConfig>
  <ValueSet>
    <Value name="startupSession" value="Default"/>
  </ValueSet>
</SystemConfig>
